<nav>
    <div class="Nav">
        <a href="index.html"><img src="../images/logowhite.png" alt="SoundzGood Logo"></a>
    </div>

    <ul>
        <li><a href="https://www.tourismbowen.com.au/">Explore</a></li>
        <li><a href="https://www.guestreservations.com/port-denison-motor-inn/booking?utm_source=microsoft&utm_medium=cpc&utm_campaign=318380760&msclkid=1db920434d0215e79b534a657272fffa&ctTriggered=true">Accommodation</a></li>
        <li><a href="https://events.humanitix.com/soundzgood-2-0-bowen">Buy Tickets</a></li>
    </ul>
</nav>